namespace: gitops-dev

resources:
  - ../../base

images:
  - name: ghcr.io/ankur512512/gitops-app-repo
    newTag: main

patches:
  - target:
      kind: Deployment
      name: gitops-app
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: dev
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: postgresql+psycopg://app:app@db:5432/appdb

  - target:
      kind: HTTPRoute
      name: gitops-app
    patch: |-
      - op: replace
        path: /spec/parentRefs/0/sectionName
        value: app-dev-https
      - op: replace
        path: /spec/hostnames/0
        value: app-dev.ankur.theworkpc.com
